html {
  scroll-behavior: smooth;
  font-size: 16px;
  @include tablets {
    font-size: 15px;
  }
  @include phones {
    font-size: 14px;
  }
}
body,
html {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #7581a1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  // max-width: rem(1110px);
  max-width: 70rem;
  width: 95%;
  @include tablets {
    max-width: rem(860px);
    width: 90%;
  }
  @include phones {
    max-width: rem(610px);
  }
}

// .section {
//   height: 100vh;
//   // min-height: rem(1000px);
// }

.maincontent {
  height: 100%;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type="button"] {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;

  // max-height: 100%;
}

input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: all 0.7s ease;
}
input::-moz-placeholder {
  text-indent: 0px;
  transition: all 0.7s ease;
}
input:-moz-placeholder {
  text-indent: 0px;
  transition: all 0.7s ease;
}
input:-ms-input-placeholder {
  text-indent: 0px;
  transition: all 0.7s ease;
}
input:focus::-webkit-input-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0;
}
input:focus::-moz-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0;
}
input:focus:-moz-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0;
}
input:focus:-ms-input-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0;
}
textarea::-webkit-input-placeholder {
  text-indent: 0px;
  transition: all 0.7s ease;
}
textarea::-moz-placeholder {
  text-indent: 0px;
  transition: all 0.7s ease;
}
textarea:-moz-placeholder {
  text-indent: 0px;
  transition: all 0.7s ease;
}
textarea:-ms-input-placeholder {
  text-indent: 0px;
  transition: all 0.7s ease;
}
textarea:focus::-webkit-input-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0;
}
textarea:focus::-moz-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0;
}
textarea:focus:-moz-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0;
}
textarea:focus:-ms-input-placeholder {
  text-indent: 50px;
  transition: all 0.7s ease;
  opacity: 0;
}

// .slide-in {
//   opacity: 0;
//   transition: all 0.5s;
//   &_active {
//     opacity: 1;
//     transform: translateX(0%) scale(1);
//   }
// }
.slide-right {
  transform: translateX(10%) scale(0.95);
}

.slide-left {
  transform: translateX(-250%) scale(0.95);
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
  &_active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}
