.advantages {
  background: url("../img/bg-8.jpg") no-repeat;
  background-size: cover;
  padding: rem(119px) 0 8.2rem 0;
  background-position: 47%;
  &__title {
    @include title;
    line-height: 1.2;
    margin-bottom: rem(30px);
    @include tablets {
      font-size: rem(40px);
      font-weight: 700;
    }
    @include phones {
      font-size: rem(36px);
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
      flex-direction: column;
    }
  }
  //   &__screenshot {
  //     flex-basis: 100%;
  //   }
  &__desc {
    flex-basis: 56%;
  }
  &__text {
    width: 97%;
    margin-bottom: rem(38px);
  }
}
