.fun-facts {
  background-color: #edf6ff;
  // background: url("../img/fun-facts.jpg") no-repeat;
  // background-size: cover;
  // background-position: 48%;
  padding: 9.25rem 0 rem(110px) 0;
  position: relative;
  &__title {
    @include title;
    line-height: 1.2;
    letter-spacing: -1.5px;
    text-align: center;
    max-width: rem(500px);
    margin: 0 auto;
    @include tablets {
      font-size: rem(40px);
      font-weight: 700;
    }
    @include phones {
      max-width: 15.25rem;
    }
  }
  &__subtitle {
    @include subtitle;
    letter-spacing: 3px;
    display: block;
    margin-bottom: rem(14px);
  }
  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: rem(50px);
    @include phones {
      flex-direction: column;
    }
  }
  &__item {
    text-align: center;
  }
  &__number {
    text-align: center;
    font-size: rem(60px);
    letter-spacing: -1.8px;
    color: #bacbdc;
    font-weight: 600;
    letter-spacing: 0;
    display: block;
  }
  &__property {
    @include subtitle;
    font-size: rem(12px);
    font-weight: bold;
    line-height: -1.8px;
    letter-spacing: 2.7px;
  }
}

// .circle {
//   display: block;
//   background: url("../img/circle.svg") no-repeat;
//   background-size: contain;
//   position: absolute;
//   left: 0;
//   bottom: rem(-363px);
//   width: 413px;
//   height: 758px;
// }
