.partners {
  background-color: $blue;
  background: url("../img/pattern.png") center center no-repeat;
  background-size: cover;
  min-height: 19.125rem;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(116px);
  }
}
