.pricing-plans{
    &__subtitle{
        @include subtitle;
        letter-spacing: 3.6px;
        display: block;
        margin-bottom: rem(16px);
    }
    &__title{
        @include title;
        line-height: 1.2;
        letter-spacing: -1.5px;
        text-align: center;
        font-size: rem(40px);

    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        background-color: #f5faff;
        text-align: center;        
        color: #8085b1;
        padding: rem(77px) rem(70px);
        margin-top: rem(81px);
        margin-right: rem(30px);
        max-height: rem(623px);
        max-width: rem(350px);
        &-list{
            margin-bottom: rem(50px);
        }
        
        &-properties{
            line-height: 2.86;
            font-size: rem(14px);
            // padding-bottom: rem(10px);
        }
        
        &.active{
            background-color: #192b59;
            color: #fff;
        }
        &-title{     
            font-size: rem(70px);
            letter-spacing: -2.1px;
            color: #000958;
            font-weight: 800;
              
        }
        &-subtitle{
            @include subtitle;
            font-size: rem(14px);
            letter-spacing: 2.8px;
            &.active{
                color: #fff;
            }
        }
        
    }
}

// .pricing-plans__item-list{
//     margin-bottom: 50px;
// }