.screen-preview {
  background-color: #edf6ff;
  padding: rem(116px) 0 0 0;
  &__subtitle {
    @include subtitle;
    letter-spacing: 3.6px;
    display: block;
    margin-bottom: rem(16px);
  }
  &__title {
    @include title;
    line-height: 1.2;
    letter-spacing: -1.5px;
    text-align: center;
    font-size: rem(40px);
    @include tablets {
      font-size: rem(40px);
      font-weight: 700;
    }
    @include phones {
      font-size: rem(36px);
    }
  }
  &__pic {
    margin-top: rem(79px);
  }
}
