.software {
  position: relative;
  background: url("../img/bg-section-featured.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  bottom: rem(-38px);
  padding: 4.8125rem 0 6.75rem 0;
  overflow: hidden;
  @include phones {
    background: none;
  }
  &__columns {
    display: flex;
    justify-content: flex-end;

    & > div {
      flex-basis: 52%;
      @include phones {
        flex-basis: 90%;
      }
    }
  }
  // &__screenshot{
  //     background: url('../img/Слой1.png') no-repeat;
  //     width: 900px;
  //     height: 760px;
  //     position: absolute;
  //     left: 0;
  //     top: 40px;
  // }
  &__title {
    @include title;
    margin-top: rem(12px);
    margin-bottom: rem(30px);
    line-height: 1.2;
    @include tablets {
      font-size: rem(40px);
      font-weight: 700;
    }

    @include phones {
      font-size: rem(36px);
    }
  }

  &__list {
    margin-top: rem(30px);
    height: rem(340px);
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 4px;
      height: 2px;
    }
    &::-webkit-scrollbar-button {
      background-color: #f3f6ff;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #f3f6ff;
    }
    &::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: $blue;
      border-radius: 10px;
    }

    &-term {
      font-weight: bold;
      color: #5a6789;
      margin-bottom: rem(10px);
    }
    &-definition {
      width: 93%;
      margin-left: 0;
      margin-bottom: rem(50px);
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: rem(23px);
    }
  }
  &__text {
    width: 89%;
  }
}

.gear__icon {
  background: url("../img/icon-gear.png") no-repeat;
  background-position: -13px 0;
  width: 117px;
  height: 98px;
  @include phones {
    background-position: rem(-23px) 0;
  }
}
